*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 1.5;
    margin:  4.5px 1.3rem 1.3rem  18px;
}
a {
    text-decoration: none;
    color: #36c;
}
a:hover {
    text-decoration: underline;
}
div {
    display: block;
}
header 
{
    position: relative;
    width: 250px;
    height: 100px;
    margin: 45px auto 5px;
    text-align: center;
    line-height: 25px;
}
header img {
    position: absolute;
    justify-content: center;
    top: 170px;
    left: 45px;
    width: 155px;
}
header h1.texto
{
    font-size: 1.9rem;
    font-weight: 100;
    text-align: center;
    padding: 12px 10px 0 0;
}
header h1.texto strong
{
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
}
header h2.subtext 
{
    font-weight: lighter;
    font-size: 1.2rem;
    display: inline;
    height: 15px;
}
main section div.section-container {
    display: grid;
    grid-template-columns: 10px repeat(7, 68px) 10px;
    grid-template-rows: repeat(5, 55px);
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main section div div.section-article:hover {
    background-color:#eaecf0;
}
main section div div.section-article {
    text-align: center;
    line-height: 23px;
    width: 12rem;
    height: 4rem;
}
main section div div.section-article a strong {
    font-weight: 550;
    font-size: 1.2rem;
}
main section div div.section-article p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
}

main section div div.section-article:nth-of-type(1) {
    grid-column-start: 3;
    grid-column-end: span 2;
    justify-self: start;
}
main section div div.section-article:nth-of-type(2) {
    grid-column-start: 6;
    grid-column-end: span 2;
    justify-self: end;
}
main section div div.section-article:nth-of-type(3) {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: span 2;
    justify-self: start;
}
main section div div.section-article:nth-of-type(4) {
    grid-row: 2;
    grid-column-start: 7;
    grid-column-end: span 2;
    justify-self: end;
}
main section div div.section-article:nth-of-type(5) {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: span 3;
    justify-self: start;
}
main section div div.section-article:nth-of-type(6) {
    grid-row: 3;
    grid-column-start: 7;
    grid-column-end: span 3;
    justify-self: end;
}
main section div div.section-article:nth-of-type(7) {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: span 2;
    justify-self: start;
}
main section div div.section-article:nth-of-type(8) {
    grid-row: 4;
    grid-column-start: 7;
    grid-column-end: span 2;
    justify-self: end;
}
main section div div.section-article:nth-of-type(9) {
    grid-row: 5;
    grid-column-start: 3;
    grid-column-end: span 2;
    justify-self: start;
}
main section div div.section-article:nth-of-type(10) {
    grid-row: 5;
    grid-column-start: 6;
    grid-column-end: span 2;
    justify-self: end;
}
section.search-container {
    float: none;
    max-width: 95%;
    width: 540px;
    margin: .4rem auto 1.95rem;
    text-align: center;
    vertical-align: middle;
}
section.search-container form.pure-form {
    display: block;
    margin-top: 0;
}
section.search-container form.pure-form fieldset {
    word-spacing: -4px;
    margin: 0px;
    padding: .56rem 0 1.2rem;
    border: 0px;
}
section.search-container form.pure-form fieldset div.search-input {
    display: inline-block;
    position: relative;
    width: 57%;
    vertical-align: top;
}
section.search-container form.pure-form fieldset div.search-input label.text {
    cursor: default;
    display: block;
    position: absolute;
    clip:  rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0;
    overflow: hidden;
}
section.search-container form.pure-form fieldset div.search-input input.text-box-input {
    -webkit-appearance: none;
    width: 100%;
    height: 3.5rem;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    padding: .8rem 5rem .8rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.6;
}
section.search-container form.pure-form fieldset div.search-input input.text-box-input:focus {
    border-color: #36c;
    box-shadow: inset 0 0 0 1px #36c;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0;
}
section.search-container form.pure-form fieldset button.pure-button {
    min-height: 3.5rem;
    width: 4.2rem;
    margin: 0px;
    border-radius: 0 2px 2px 0;
    font-size: 1.2rem;
    z-index: 1;
    background-color: #36c;
    border-color: #36c;
    color: #fff;
}
section.search-container form.pure-form fieldset button.pure-button:hover {
    background: #447ff5;
    border-color: #447ff5;
}
section.search-container form.pure-form fieldset button.pure-button span.sprite {
    background-image: url(./baseline_search_white_24dp.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}
section.language-list-wrapper {
    text-align: center;
}
section.language-list-wrapper button.language-list {
    background-color: #f8f9fa;
    display: inline;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: .6rem 1.2rem;
    outline: 1.6rem solid #fff;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    color: #36c;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}
section.language-list-wrapper button.language-list:hover {
    background-color: #fff;
    border-color: #a2a9b1;
}
section.language-list-wrapper button.language-list:focus {
    border-color: #36c;
    box-shadow: inset 0 0 0 1px #36c;
}
section.language-list-wrapper button.language-list i.language-icon {
    background-image: url(./baseline_translate_black_24dp.png);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    width: 18px;
    height: 18px;
}
section.language-list-wrapper button.language-list span.list-text {
    padding: 0 .64rem;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.language-list-wrapper button.language-list i.arrow-down-button {
    background-image: url(./baseline_expand_more_black_24dp.png);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    width: 18px;
    height: 18px;
}
section.list-border {
    background-color: #c8ccd1;
    display: block;
    position: relative;
    max-width: 460px;
    width: 80%;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
}
section.espacio {
    background-color: #f8f9fa;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 0;
    width: 80%;
    margin: -1.6rem auto 4.8rem;
}